Repository iterative/example-repos-dev, pull requests merged in 2022-11, with the labels that each got.

#139 MLEM: release 0.3.0
  example-mlem-get-started/code/README.md
  example-mlem-get-started/code/src/evaluate.py
  example-mlem-get-started/code/src/train.py
  example-mlem-get-started/generate.sh
Labels: A: example-mlem-get-started

#144 example-dvc-experiments: remove upper bound on tensorflow
  example-dvc-experiments/code/requirements-macos.txt
  example-dvc-experiments/code/requirements.txt
Labels: bug, A: example-dvc-experiments

#145 example-get-started: add `git fetch` to workflow
  example-get-started/code/.github/workflows/cml.yaml
Labels: bug

#147 example-get-started: fix plot paths
  example-get-started/code/.github/workflows/cml.yaml
Labels: bug, A: example-get-started

#146 example-get-started: various fixes after recent migration
  example-get-started/code/.devcontainer.json
  example-get-started/code/.devcontainer/Dockerfile
  example-get-started/code/.devcontainer/devcontainer.json
  example-get-started/code/.gitattributes
  example-get-started/code/README.md
  example-get-started/generate.sh
Labels: bug, enhancement, A: example-get-started

#133 GTO: update the example repo
  example-gto/code/.github/workflows/gto-act-on-tags.yml
  example-gto/code/.gitignore
  example-gto/code/README.md
  example-gto/code/mlem/.github/workflows/deploy-model-with-mlem.yml
  example-gto/code/mlem/.mlem.yaml
  example-gto/code/mlem/deploy/dev.mlem
  example-gto/code/mlem/deploy/prod.mlem
  example-gto/code/mlem/deploy/staging.mlem
  example-gto/code/mlem/requirements.txt
  example-gto/code/mlem/train.py
  example-gto/generate.sh
  example-mlem-get-started/code/README.md
Labels: A: example-gto

#148 GTO: fix CI
  example-gto/code/mlem/.github/workflows/deploy-model-with-mlem.yml
  example-gto/code/mlem/.mlem.yaml
  example-gto/code/mlem/deploy/dev.mlem
  example-gto/code/mlem/deploy/prod.mlem
  example-gto/code/mlem/deploy/staging.mlem
Labels: A: example-gto

#149 GTO: update README
  example-gto/code/.github/workflows/gto-act-on-tags.yml
  example-gto/code/README.md
  example-gto/code/mlem/.github/workflows/deploy-model-with-mlem.yml
Labels: A: example-gto
