Repository iterative/example-repos-dev, pull requests merged in 2023-09, with the labels that each got.

#250 Remove mlem
  example-gto/code/README.md
  example-gto/generate.sh
  example-mlem-get-started/.gitattributes
  example-mlem-get-started/.gitignore
  example-mlem-get-started/code/.devcontainer/Dockerfile
  example-mlem-get-started/code/.devcontainer/devcontainer.json
  example-mlem-get-started/code/README.md
  example-mlem-get-started/code/src/evaluate.py
  example-mlem-get-started/code/src/requirements.txt
  example-mlem-get-started/code/src/train.py
  example-mlem-get-started/generate.sh
Labels: A: example-mlem-get-started, A: example-gto

#252 Use organization-wide variable for OIDC AWS sandbox role
  .github/workflows/example-get-started-experiments-test.yaml
  .github/workflows/example-get-started-test.yaml
  example-get-started-experiments/code/.github/workflows/deploy-model.yml
  example-get-started-experiments/code/.github/workflows/dvc-studio.yml
Labels: enhancement

#254 Use AWS_SAGEMAKER_ROLE
  example-get-started-experiments/code/.github/workflows/deploy-model.yml
Labels: bug

#257 Add parent-sha input
  example-get-started-experiments/code/.github/workflows/deploy-model.yml
  example-get-started-experiments/code/.github/workflows/dvc-studio.yml
Labels: A: example-get-started-experiments
